In [1]:
import pandas as pd

## 思路
- 特征处理
 - is_scan哑编码

In [170]:
data=pd.read_csv('F:\\contest\\JD\\Risk_Detection_Qualification\\processedtrain.csv')
data.head()

,timelong,device,log_from,ip,city,id,is_scan,device_count,result_0,result_1,...,type_0,type_1,type_2,month,date,hour,minute,city_count,logfrom_count,ip_count
0,5,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,10,12,54,1,2,2
1,16124,0.115385,0.730769,0.384615,0.961538,109987,0,4,1,0,...,1,0,0,4,12,11,20,2,2,4
2,5,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,3,30,16,38,1,2,2
3,6,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,6,16,22,1,2,2
4,4,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,5,15,55,1,2,2

In [6]:
#timelong
# for i in id_list:
#     temp=data[data.id==i]
#     device_list=temp.device.unique()
#     for j in device_list:
#         ttemp=temp[temp.device==j]
#         tsum=0.0
#         for k in range(len(ttemp)):
#             tsum+=ttemp.ix[k]['timelong']
data.drop('timelong',axis=1,inplace=True)

In [39]:
id_list=data.id.unique()
print len(id_list)

25943

In [ ]:
#is_scan dummy
data['is_scan']=data['is_scan'].apply(lambda x:1 if x==True else 0)
data.to_csv('F:\\contest\\JD\\Risk_Detection_Qualification\\loginIntrade.csv',index=None)
data.head()

In [114]:
#device frequency
alldict=dict.fromkeys(tuple(id_list),{})
for i in id_list:
    temp=data[data.id==i]
    dsum=len(temp)
    ddict=dict(temp['device'].value_counts())
    for item in ddict.keys():
        ddict[item]=ddict[item]/float(dsum)
    alldict[i]=ddict

In [118]:
data.drop('temp',axis=1,inplace=True)

In [128]:
#log_from frequency
alldict=dict.fromkeys(tuple(id_list),{})
for i in id_list:
    temp=data[data.id==i]
    dsum=len(temp)
    ddict=dict(temp['log_from'].value_counts())
    for item in ddict.keys():
        ddict[item]=ddict[item]/float(dsum)
    alldict[i]=ddict

In [131]:
allcitydict=dict.fromkeys(tuple(id_list),{})
for i in id_list:
    temp=data[data.id==i]
    dsum=len(temp)
    ddict=dict(temp['city'].value_counts())
    for item in ddict.keys():
        ddict[item]=ddict[item]/float(dsum)
    allcitydict[i]=ddict

In [58]:
print allcitydict[116825]

{194: 1.0}

In [76]:
for i in range(500,len(data)):
    temp=data.ix[i]
    data.ix[i,'log_from']=alldict[temp.id][temp.log_from]
    data.ix[i,'city']=allcitydict[temp.id][temp.city]
data.to_csv('F:\\contest\\JD\\Risk_Detection_Qualification\\processedtrain.csv',index=None)

In [112]:
#time
data['month']=data['time'].apply(lambda x: x.split(" ")[0].split("/")[1])
data['date']=data['time'].apply(lambda x:x.split(" ")[0].split("/")[2])
data['hour']=data['time'].apply(lambda x:x.split(" ")[1].split(":")[0])
data['minute']=data['time'].apply(lambda x:x.split(" ")[1].split(":")[1])
data.drop('time',axis=1,inplace=True)
#data.to_csv("F:\\contest\\JD\\Risk_Detection_Qualification\\processedtrain.csv",index=None)

In [72]:
data.head()

,timelong,device,log_from,ip,city,result,type,id,is_scan,month,date,hour,minute
0,5,0.416667,0.666667,1026491,1.000000,1,1,116825,1,4,10,12,54
1,16124,0.115385,0.730769,1026491,0.961538,1,1,109987,0,4,12,11,20
2,5,0.416667,0.666667,1026491,1.000000,1,1,116825,1,3,30,16,38
3,6,0.416667,0.666667,1026491,1.000000,1,1,116825,1,4,6,16,22
4,4,0.416667,0.666667,1026491,1.000000,1,1,116825,1,4,5,15,55

In [ ]:
ip_count=dict(data.ip.value_counts())
for i in range(len(data)):
    data.ix[i,'ip']/=float(ip_count[data.ix[i,'ip']])

In [7]:
#city frequency
column={'timelong':[],'device':[],'log_from':[],'ip':[],'city':[],'result':[],'type':[],'id':[],'is_scan':[],'time':[]}
newdata=pd.DataFrame(data=column)
for i in id_list:
    temp=data[data.id==i]
    dsum=len(temp)
    ddict=temp['city'].value_counts()
    for item in ddict.keys():
        ddict[item]/=float(dsum)
    temp['city']=temp['city'].apply(lambda x: ddict[x])
    newdata=pd.concat([newdata,temp],ignore_index=True)
print newdata.shape

In [107]:
data['result']=data['result'].apply(lambda x: 'r1' if x==1 else x)
data['result']=data['result'].apply(lambda x: 'r2' if x==31 else x)
data['result']=data['result'].apply(lambda x: 'r3' if x==-2 else x)
data['result']=data['result'].apply(lambda x: 'r4' if x in [23,3,5,22,-4,6] else x)
data['result']=data['result'].apply(lambda x: 'r5' if x==-1 else x)

In [109]:
data['type']=data['type'].apply(lambda x:'t'+str(x))

In [108]:
data.result.value_counts()

r1    448469
r2     96149
r3     11938
r4     11539
r5     11536
Name: result, dtype: int64

In [87]:
from sklearn.preprocessing import LabelEncoder

In [110]:
le = LabelEncoder()
var_to_encode = ['result','type']
for col in var_to_encode:
    data[col] = le.fit_transform(data[col])
data = pd.get_dummies(data, columns=var_to_encode)
data.columns

Index([u'timelong', u'device', u'log_from', u'ip', u'city', u'id', u'is_scan',
       u'time', u'device_count', u'result_0', u'result_1', u'result_2',
       u'result_3', u'result_4', u'type_0', u'type_1', u'type_2'],
      dtype='object')

In [98]:
data.to_csv("F:\\contest\\JD\\Risk_Detection_Qualification\\processedtrain.csv",index=None)

In [100]:
data=pd.read_csv('F:\contest\JD\Risk_Detection_Qualification\loginIntrade.csv')
device_count={}
for i in id_list:
    device_count[i]=len(data[data.id==i].device.unique())

In [101]:
data['device_count']=data['id'].apply(lambda x:device_count[x])

In [137]:
ip_count={}
for i in id_list:
    ip_count[i]=len(data[data.id==i].ip.unique())
data['ip_count']=data['id'].apply(lambda x:ip_count[x])

In [183]:
data.to_csv("F:\\contest\\JD\\Risk_Detection_Qualification\\processedtrain.csv",index=None)

In [138]:
data.head()

,timelong,device,log_from,ip,city,id,is_scan,device_count,result_0,result_1,...,type_0,type_1,type_2,month,date,hour,minute,city_count,logfrom_count,ip_count
0,5,0.416667,0.666667,1026491,1.000000,116825,1,5,1,0,...,1,0,0,4,10,12,54,1,2,2
1,16124,0.115385,0.730769,1026491,0.961538,109987,0,4,1,0,...,1,0,0,4,12,11,20,2,2,4
2,5,0.416667,0.666667,1026491,1.000000,116825,1,5,1,0,...,1,0,0,3,30,16,38,1,2,2
3,6,0.416667,0.666667,1026491,1.000000,116825,1,5,1,0,...,1,0,0,4,6,16,22,1,2,2
4,4,0.416667,0.666667,1026491,1.000000,116825,1,5,1,0,...,1,0,0,4,5,15,55,1,2,2

In [158]:
data['ip']=data.apply(lambda x:alldict[x['id']][x['ip']],axis=1)

In [159]:
data.head()

,timelong,device,log_from,ip,city,id,is_scan,device_count,result_0,result_1,...,type_0,type_1,type_2,month,date,hour,minute,city_count,logfrom_count,ip_count
0,5,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,10,12,54,1,2,2
1,16124,0.115385,0.730769,0.384615,0.961538,109987,0,4,1,0,...,1,0,0,4,12,11,20,2,2,4
2,5,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,3,30,16,38,1,2,2
3,6,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,6,16,22,1,2,2
4,4,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,5,15,55,1,2,2

In [141]:
ip_count=dict(data.ip.value_counts())

In [ ]:
alldict=dict.fromkeys(id_list,{})
for i in id_list:
    temp=dict(data[data.id==i].ip.value_counts())
    for k,v in temp.items():
        temp[k]/=float(ip_count[k])
    alldict[i]=temp
    print temp

In [157]:
alldict[116825]

{1026491: 0.28205128205128205, 1078675: 1.0}

In [182]:
data.head()

,timelong,device,log_from,ip,city,id,is_scan,device_count,result_0,result_1,...,type_0,type_1,type_2,month,date,hour,minute,city_count,logfrom_count,ip_count
0,-0.027434,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,10,12,54,-0.862897,-0.311124,-0.472548
1,-0.006968,0.115385,0.730769,0.384615,0.961538,109987,0,4,1,0,...,1,0,0,4,12,11,20,-0.614366,-0.311124,-0.451918
2,-0.027434,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,3,30,16,38,-0.862897,-0.311124,-0.472548
3,-0.027433,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,6,16,22,-0.862897,-0.311124,-0.472548
4,-0.027435,0.416667,0.666667,0.282051,1.000000,116825,1,5,1,0,...,1,0,0,4,5,15,55,-0.862897,-0.311124,-0.472548

In [167]:
from sklearn.preprocessing import MinMaxScaler
for c in ['city_count','logfrom_count','ip_count']:
    data[c] = MinMaxScaler().fit_transform(data[c])

c:\python27\lib\site-packages\sklearn\preprocessing\data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
c:\python27\lib\site-packages\sklearn\preprocessing\data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
c:\python27\lib\site-packages\sklearn\preprocessing\data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
c:\python27\lib\site-packages\sklearn\preprocessing\data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
c:\python27\lib\site-packages\sklearn\preprocessing\data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
c:\python27\lib\site-packages\sklearn\preprocessing\data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [181]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(data['timelong'])
data['timelong']=scaler.transform(data['timelong'])
data['timelong'].describe()

c:\python27\lib\site-packages\sklearn\preprocessing\data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
c:\python27\lib\site-packages\sklearn\preprocessing\data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

count    5.796310e+05
mean     5.884097e-19
std      1.000001e+00
min     -2.916072e-02
25%     -2.204038e-02
50%     -1.820597e-02
75%     -1.075044e-02
max      2.861318e+02
Name: timelong, dtype: float64

In [185]:
trade=pd.read_csv('F:\\contest\\JD\\Risk_Detection_Qualification\\t_trade.csv')

In [190]:
trade.head()

   rowkey                   time      id  is_risk
0       3  2015-01-01 00:00:41.0   27863        0
1       6  2015-01-01 00:00:46.0  115201        0
2      13  2015-01-01 00:01:02.0  143711        0
3      32  2015-01-01 00:03:00.0  172699        0
4      43  2015-01-01 00:03:52.0   53265        0