In [1]:
import pandas as pd

In [23]:
tblptr=[]
offset=[]
addwidth=0.0
Ttype,Twidth=None,None
cnt=1
s=['M->#','T->real','D->id:T','T->integar','T->*T1','D->id:T','T->integar','D->id:T','D->D1;D2','D->D1;D2','P->MD']

In [38]:
def execute(sequence,Ttype,Twidth,cnt,tblptr,offset,addwidth):
    for item in sequence:
        if item=='P->MD':
            addwidth=f0(tblptr,offset)
            print "addwidth:"+str(addwidth)
        elif item=='M->#':
            tblptr,offset=f1(tblptr,offset)
            
        elif item=='D->D1;D2':
            f2()
            
        elif item=='D->proc id;N D1;S':
            f3()
           
        elif item=='D->id:T':
            tblptr,offset,cnt=f4(Twidth,Ttype,tblptr,offset,cnt)
        elif item=='N->#':
            f5()
            
        elif item=='T->integar':
            Ttype,Twidth=f6(Ttype,Twidth)
            
        elif item=='T->real':
            Ttype,Twidth=f7(Ttype,Twidth)
            
        elif item=='T->*T1':
            Ttype,Twidth=f8(Ttype,Twidth)
        else:
            print 'error'

In [39]:
def f0(tblptr,offset):
    addwidth=tblptr[0]['offset'].sum()+offset[0]
    return addwidth
def f1(tblptr,offset):
    t=pd.DataFrame(columns=["id.name","T.type","offset"])
    tblptr.append(t)
    offset.append(0)
    return tblptr,offset
def f7(Ttype,Twidth):
    Ttype="real"
    Twidth=8
    return Ttype,Twidth
def f4(Twidth,Ttype,tblptr,offset,cnt):
    df=tblptr[-1]
    idname='id'+str(cnt)
    cnt+=1
    df.loc[df.shape[0]]={'id.name':idname,'T.type':Ttype,'offset':offset[-1]}
    offset[-1]=offset[-1]+Twidth
    return tblptr,offset,cnt
def f6(Ttype,Twidth):
    Ttype="integar"
    Twidth=4
    return Ttype,Twidth
def f8(Ttype,Twidth):
    Ttype="pointer("+Ttype+")"
    Twidth=4
    return Ttype,Twidth
def f2():
    pass
# def f0(tblptr,offset):
    
# #     d=tblptr.pop()
# #     del d
#     d=offset.pop()
#     del d
#     return tblptr,offset

In [40]:
execute(s,Ttype,Twidth,cnt,tblptr,offset,addwidth)
tblptr.pop()

addwidth:36.0

  id.name            T.type  offset
0     id1              real     0.0
1     id2  pointer(integar)     8.0
2     id3           integar    12.0

In [36]:
print

None

In [25]:
temp=pd.DataFrame(columns=['id.name','T.type','offset'])
temp.loc[temp.shape[0]]={'id.name':"id1",'T.type':"real",'offset':4}
t=pd.DataFrame(columns=['ptr','count'])
t.loc[t.shape[0]]={'ptr':'jdf','count':8}
pd.concat([temp,t],join='outer')

  T.type  count id.name  offset  ptr
0   real    NaN     id1     4.0  NaN
0    NaN    8.0     NaN     NaN  jdf